.results {
    color: #575757;
    margin: 16px 24px;
    font-family: "Nekst-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
}

.percent {
    padding: 15px 17px;
    font-family: "Nekst-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    color: #575757;

    background: #EBEBEC;
    margin: 7px 7px 7px 186px;
    border-radius: 16px;
}
