.lower {
    margin-top: 44px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #575757;
}

.result {
    font-family: "Nekst-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: #575757;
    white-space: nowrap;
}

.new_row {
    width: 100%;
}

@media screen and (min-width: 1025px) {
    .new_row {
        display: none;
    }
}