.title {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #575757;
}

.result {
    font-family: "Nekst-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: #575757;
}
