.after {
    font-family: "Nekst-Black";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: right;
    color: #575757;

    margin-right: 24px;
}