.range {
    width: 88%;
    height: 2px;
    -webkit-appearance: none;
    background: #e1e1e1;
    outline: none;
    position: absolute;
    bottom: 0;
    left: 6%;
}

// WebKit

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff9514;
    cursor: pointer;
    border: none;
}

.range:hover::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
}

.range:active::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
}

// Mozilla

.range::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff9514;
    cursor: pointer;
    border: none;
}

.range:hover::-moz-range-thumb {
    width: 24px;
    height: 24px;
}

.range:active::-moz-range-thumb {
    width: 20px;
    height: 20px;
}

// ...

.range:hover {
    height: 1px;
}

.progressBar {
    background-color: #ff9514;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 6%;
    pointer-events: none;
}

.range:hover ~ .progressBar {
    height: 1px;
}
