.App {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 620px) {
    .title__wrapper {
        width: 300px;
    }
    .title {
        font-size: 2.2em;
    }
    /* .input {
        min-width: 280px;
    } */
}

.inputs {
    display: flex;
    gap: 32px;
    margin-top: 32px;
    justify-content: space-between;
}

.lower {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1024px) {
    .inputs {
        flex-direction: column;
    }
}
